%footer.footer
  %div.container
    %p= t('footer.text').html_safe
    %ul.footer-links
      %li= link_to t('footer.github'), "https://github.com/chrissearle/nodalpoint/"
      %li.muted= "·"
      %li= link_to t('footer.name'), "http://github.com/chrissearle/"

